<div class="w3-center">
<div id="name">
<h1 class="w3-center w3-allerta w3-round-xxlarge"><img id="Joe" src="/static/images/ball2.png" style="opacity: 1;height: 1em" class="w3-circle" alt="Joe Agnew"></h1>
</div>
<div id="home">
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-text-black w3-white w3-round-xxlarge" style="position: relative"><i class="fa fa-envelope" aria-hidden="true" style="color: grey; font-size: 3em";></i></button><br><br>
  <button onclick="document.getElementById('id02').style.display='block'" class="w3-btn w3-text-black w3-white w3-round-xxlarge" style="position: relative"><i class="fa fa-university" aria-hidden="true" style="position: relative; left:.1em; color: grey; font-size: 3em"></i></button>
<br><br>
  <div id="social">
      <button id="weatherb" style="position: relative" class="w3-btn w3-white w3-round-xxlarge"><i style="font-size: 3em" class="fa fa-cloud w3-text-grey" aria-hidden="true"></i></button><br><br>
      <button id="twitch" style="position: relative" class="w3-btn w3-white w3-round-xxlarge"><i class="fa fa-twitch w3-text-grey" style="font-size: 3em" aria-hidden="true"></i></a></button>
      <br><br>    
  </div>
</div>
<br>
  <div id="player1" style="display:none">     
    <iframe class="stream w3-half" src="https://player.twitch.tv/?autoplay=false&channel=txjoe25" frameborder="3" scrolling="no" style="min-height: 35em; min-width: 100%"></iframe>
  </div>
  <div id="map-canvas" class="w3-container w3-center" style="display: none; height: 25em; width: 100%"></div>
</div>
<div class="w3-center">
    <img id="ball" style="display:none; height:3em" src="/static/images/ball.png">
</div>


<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-animate-opacity w3-card-8">
    <header class="w3-container w3-black w3-center">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-closebtn">&times;</span>
    </header>
    <div id="form_holder">
    <form class="w3-form" id="contact_form">
        <input class="w3-input w3-center" placeholder="Name" type="text" id="name" name="name" required><br>
        <input class="w3-input w3-center" placeholder="Email" type="email" id="email" name="email" required><br>   
        <textarea id="message" class="w3-input w3-center" placeholder="Note" name="message" required></textarea><br>
        <input style="width: 1.5em; height: 1.5em" class="w3-left w3-input" type="checkbox" name="resume" value="Resume Requested"><span class="w3-left">Meeting Request</span><br>
        <input style="display:none" type="datetime-local" name="date">
        <p style="display:none; color: green;" id="success">Your message has successfully sent!</p>
        <p style="display:none; color: red;" id="fail">Error: Fill out all fields</p>
	    <button id="send" class="w3-btn w3-round-xxlarge w3-ripple w3-right" value="Send" type="submit">Send</button>
	</form>
	</div>
    <footer class="w3-container w3-white">
    </footer>
  </div>
</div>
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-card-8">
    <header class="w3-container w3-white w3-center">
      <span onclick="document.getElementById('id02').style.display='none'"
      class="w3-closebtn">&times;</span>
      <h2>
        <img class="ninja" src="static/images/yellow_belt.png">
        <img id="black" class="ninja" src="static/images/black_belt.png">
        <img id="black1" class="ninja" src="static/images/black_belt.png">
        <img class="ninja" src="static/images/green_belt.png">
      </h2>

    </header>
      <p class="indent">Joe Agnew is a full stack developer from Texas. He started his professional career as a real estate representative in the Dallas Market, but soon found a interest in computers. He began his tech career by acquiring 11 Information Technology Certifications(CompTIA A+, CompTIA Networking+, CompTIA Security+, MTA: Networking Fundamentals, MTA:Windows Operating System Fundamentals, MTA:Security Fundamentals, MCTS: Windows 7 Configuration, MTA:Windows Server Administration Fundamentals, MCTS: Windows Server 2008 Active Directory Configuration, MCTS: Windows Server 2008 Network Infrastructure Configuration, MCTS: Windows Server 2008 Server Administrator). Ultimately, giving him the designation of MCSA: Windows Server 2008, as well as MCPS: Microsoft Certified Professional.</p>
      <p class="indent">Upon completing the necessary baseline understanding of the PC. Joe soon progressed into creating and developing. He completed a rigorous training in web development at Coding Dojo-Dallas, obtaining the knowledge of how to be a successful full stack developer. During his time at the Dojo, Joe was awarded a Yellow Belt for this understanding of HTML/CSS, as well as a double Black Belt for exemplary honors in both MEAN and Ruby on Rails stacks. A Black Belt at the Dojo is obtained by creating and deploying a program from wire frames in under 4.5 hours. During the final week at the Dojo, a hackathon was established. Joe teamed up with a fellow cohort member to win the prized Green Belt!</p>
      <p class="indent">When Joe's not entrenched in creating something new on his PC, he stays active by enjoying the outdoors. You can find him playing or watching just about any sport imaginable.  If there's a spare moment, he likes to <span class="play">play video games</span> too!</p>
    <footer class="w3-container w3-white w3-center">
    <img class="pic" src="static/images/a+.png"><img class="pic" src="static/images/net.png"><img class="pic" src="static/images/sec+.png"><br><br><img class="pic" src="static/images/MCPS.jpg"><br><br><br>
    </footer>
  </div>
</div>
