<div id="bar">
<!-- <ul class="w3-navbar w3-black w3-center">
	<li class="w3-hide-small" style="width:40%">&nbsp;</li>
  <li style="width:10%" class="w3-xxlarge w3-center"><a href="https://www.linkedin.com/in/joe-agnew-55555648"><i class="fa fa-linkedin-square w3-text-green" aria-hidden="true"></i></a></li>
  <li class="w3-xxlarge" style="width:10%"><a href="https://github.com/txjoe25"><i class="fa fa-github w3-text-green" aria-hidden="true"></i></a></li>
	<li class="w3-hide-small" style="width:40%">&nbsp;</li>
</ul>
 <li class="w3-xxlarge" style="width:10%"><a href="https://github.com/txjoe25"><i class="fa fa-github w3-text-green" aria-hidden="true"></i></a></li>
	<li class="w3-hide-small" style="width:40%">&nbsp;</li>
</ul> -->
</div>