<h1>Secure</h1>
  <form id="test" style="display: none;">
    Name: <input type='text' ng-model='newStudent.name'>
    email: <input type='text' ng-model='newStudent.email'>
    <input type='submit' value='add new student' ng-click='addStudent()'>
<div ng-controller='secureController'>
    <ul>
        <li ng-repeat="person in people">{{ person.name }}, {{ person.email }}</li>
    </ul>
</div>
<!--  --><img style="width: 100em; z-index: 1;" src="../../static/images/ball3.png">
<div style="height: 10em width:10em background-color: black;"></div>