#wrapper{ 
	height: 90vh;
	width: 50%;
  	margin: auto;
  	background-color: rgba(255,255,255,0.3)
}
.w3-allerta { 
  	font-family: "Allerta Stencil", Sans-serif; 
}
#Joe{
	max-width: 100%
}
#matrix{
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}
p.indent{
	padding-left: 1.8em;
	padding-right: 1.8em;
	padding-bottom: .25em;
	padding-top: none;
}
img.pic{
	max-height: 2em;
	max-width: 10em;
}
img.ninja{
	max-width: 15%;
}
#drop{
	background: none;

}
iframe{
	max-width: 100%;
}
input span{
	vertical-align:text-top;
}
.w3-modal{
	max-width: 100%
}
.w3-dropdown-content { min-width: 90px }
/*.w3-modal { max-width: 35em; }*/

