#wrapper{ 
	height: 90vh;
  	width: 80vh; 
  	margin: auto;
  	background-color: rgba(255,255,255,0.3)
}
.w3-allerta { 
  	font-family: "Allerta Stencil", Sans-serif; 
}
#matrix{
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}
p.indent{
	padding-left: 1.8em;
	padding-right: 1.8em;
	padding-bottom: .25em;
	padding-top: none;
}
img.pic{
	height: 5em;
}
#drop{
	background: none;

}
iframe{
	max-width: 25em;
}

.w3-dropdown-content { min-width: 90px }
/*.w3-modal { max-height: 100px }*/
