
#wrapper{ 
	height: 90vh;
	width: 75%;
  	margin: auto;
  	background-color: rgba(255,255,255, 1)
}
.w3-allerta { 
  	font-family: "Allerta Stencil", Sans-serif; 
}
#Joe{
	max-width: 100%
}
#matrix{
	height: 150%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
#q{
	height: 150%;
	width: 150%;
}
#player1{
	display: block;
}
p.indent{
	padding-left: 1.8em;
	padding-right: 1.8em;
	padding-bottom: .25em;
	padding-top: none;
}
img.pic{
	max-height: 2em;
	max-width: 10em;
}
img.ninja{
	max-width: 15%;
}
#drop{
	background: none;

}
iframe{
	max-width: 100%;
}
input span{
	vertical-align:text-top;
}
.w3-modal{
	max-width: 100%
}
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
